<!DOCTYPE html>
<html lang="en">
<head>
{% include _head.html %}
{% include _highlight.html %}
</head>
<body>
{% include _navigation.html %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if page.title %}
                {% if page.subtitle %}
                    <a href="index.html"><h1 class="title">{{ page.title }}</h1></a>
                    <h2 class="subtitle">{{ page.subtitle }}</h2>
                {% else %}
                    <h1 class="title">{{ page.title }}</h1>
                {% endif %}
            {% endif %}
<!-- content starts here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

            {{ content }}

<!-- content ends here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        </div>
    </div>
</div>
{% include _footer.html %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = "datacloning";
  var disqus_url = "{{ page.url }}";
  var disqus_title = "{{ page.title | escape }}";
  //var disqus_identifier = "{{ page.id }}";
  (function() {
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</body>
</html>
