<!DOCTYPE html>
<html lang="en">
<head>
{% include _head.html %}
{% include _highlight.html %}
</head>
<body>
{% include _navigation.html %}
<div class="container">
{% if page.course %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="{{ site.baseurl }}/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/"><h3><em>{{ page.course.title }}</em></h3></a>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
            <ul class="breadcrumb">
                <li><a href="{{ site.baseurl }}">Home</a></li>
                <li><a href="{{ site.baseurl }}/courses/">Courses</a></li>
                <li><a href="{{ site.baseurl }}/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/">{{ page.course.location }} {{ page.course.year }}</a></li>
                <li class="active">{{ page.course.lecture }}</li>
            </ul>
		</div>
	</div>
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">

			{% if page.course.file %}
			<span class="pull-right">
			  <div class="btn-group">
			    <a href="{{ site.baseurl }}/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/slides-{{ page.course.file }}.html" class="btn btn-primary btn-sm">Slides</a>
    		    <div class="btn-group">
      			  <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
		          Download
        		  <span class="caret"></span>
      			  </a>
      			  <ul class="dropdown-menu">
        			<li><a href="{{ page.url }}" download>html</a></li>
        			<li><a href="{{ site.baseurl }}/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/notes-{{ page.course.file }}.pdf" download>pdf</a></li>
        			<li><a href="https://raw.githubusercontent.com/datacloning/datacloning.github.io/master/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/notes-{{ page.course.file }}.Rmd" download>Rmd</a></li>
       			  </ul>
    		    </div>
    		  </div>
			</span>
			{% endif %}

            <h1 class="title">{{ page.title }}</h1>
{% else %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
{% endif %}
<!-- content starts here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

            {{ content }}

<!-- content ends here %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
            <ul class="pager">
                {% if page.course.previous %}
                <li class="previous"><a href="{{ site.baseurl }}/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/{{ page.course.previous }}.html"><i class="fa fa-chevron-left"></i> Previous</a></li>
                {% endif %}
                {% if page.course.next %}
                <li class="next"><a href="{{ site.baseurl }}/courses/{{ page.course.year }}/{{ page.course.location | downcase }}/{{ page.course.next }}.html">Next <i class="fa fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% include _footer.html %}
</body>
</html>
